<%= form_for(@foster_parent) do |f| %>
  <% if @foster_parent.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@foster_parent.errors.count, "error") %> prohibited this foster_parent from being saved:</h2>

      <ul>
      <% @foster_parent.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name, size: 40%>
  </div>
  <div class="field">
    <%= f.label :address %><br>
    <%= f.text_area :address, rows: 3, cols:40 %>
  </div>
  <div class="field">
    <%= f.label :email %><br>
    <%= f.text_field :email, size: 40%>
  </div>
  <div class="actions">
    <%= f.submit "Submit to be a Foster Parent"%>
  </div>
<% end %>
