
		<p>&nbsp;</p>
		<table width="728" border="1">
		  <tr>
		    <td align="center">Rank</td>
		    <td align="center">Title</td>
		    <td align="center">Author</td>
		    <td align="center">Lanuage</td>
		    <td align="center">Year</td>
		    <td align="center">Copies</td>
	      </tr>
		  <tr>
		    <td align="center"><%=@books.id %></td>
		    <td align="center"><%=@books.title %></td>
		    <td align="center"><%=@books.author %></td>
		    <td align="center"><%=@books.language %></td>
		    <td align="center"><%=@books.published %></td>
		    <td align="center"><%=@books.sold %></td>
	      </tr>
	      </table>

	
        


	
        
